body {
    margin: auto;
    width: 70%;
}
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content_str {
    list-style-position: inside;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin-top: 1.5em;
}
h1 {
    font-size: 32px;
}
table, tr, td {
    border: solid, 1px, black;
}
figcaption {
    font-style: italic;
}
figure {
    float: right;
    margin-left: 20px;
}
.nonrp {
    text-align: left;
}
.Photoss {
    margin-top: -30px;
}
.toptop {
    margin-top: 50px;
}
.pod_table {
    margin-top: 5px;
}
body {
    background-image: url(sam/db42cb6e79143edb5f2d3e6f26c06f4d.jpg);
}
